/**,
html,
.body-home {
  overflow: hidden;/*add This*/ 
/*}*/

.container-home {
    width: 100vw;
    height: 85vh;
    max-width:100%;
    max-height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h6{
    color: rgb(126, 126, 126);
}

.minutes{
    display: inline-block;
    margin-top: 10px;
    color: rgb(19, 19, 19);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.genres{
    display: inline-block;
    color: #535353;
    margin-left: 10px;
}

.movie-info {
    position:absolute;
    bottom:0;
    right:0;
    padding: 10px;
}

.fa-cog {
    color: black;
}

.c-custom{
    padding:20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.icon-search{
    color:#ffff;
}

.search-bar{
    border-width: 2px;
    border-color: #6147ff !important;
}

.search-bar:focus {
    box-shadow: none;
}

.search-bar-icon{
    border-width: 2px;
    border-color: #6147ff !important;
    background-color: #6147ff !important;
}