{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')+'?q='+randn }}">
    <title>TV Shows Finder - Home</title>
{% endblock %}

{% block body %}
<div class="container-home">
    <div class="box-search">
        <h2><strong>Search a TV Show that you like!</strong></h2>
        <h6>The only thing you need to do is to search the name in search bar below :)</h6>
            <form action="{{ url_for('search_tvshow') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="search_term"  class="form-control search-bar" placeholder="Search" aria-label="Recipient's username">
                    <div class="input-group-append"></div>
                    <button type="submit" class="btn search-bar-icon"><i class="fa fa-search icon-search"></i></button>
                </div>
            </form>
        <img style="width:20rem; margin-bottom: 2rem;"src="../static/watching-tv.png">
        <h6>Made by <a href="https://github.com/thainapires">Thainá Pires.</a></h6>    
    </div>
</div>
{% endblock %}